/* 默认浅色主题 */
:root {
  --bg-color: #f0f2f5;
  --text-color: #000000;
  --card-bg-color: #ffffff;
  --label-color: #999;
}

/* 暗黑主题 */
.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --card-bg-color: #2a2a2a;
  --label-color: #aaa;
}

.ant-form-item-label > label {
  color: var(--text-color);
}

.ant-input::placeholder,
.ant-input-password input::placeholder {
  color: var(--label-color);
}